body, html, #app {
  height: 100%;
}

#drum-machine {
  text-align: center;
  background-color: lighten(blue, 45%);
}

.drum-pad {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
}

